@import "tailwindcss";

@theme {
  /* =========================
     COLORS
     ========================= */

  --color-navy: #0B1F3A;

  --color-blue-trust: #155EEF;

  --color-green-transform: #12B76A;

  --color-gold-warm: #F5B942;

  --color-gray-soft: #F5F7FA;
  --color-gray-border: #E4E7EC;
  --color-gray-darkText: #101828;
  --color-gray-mutedText: #667085;


  /* =========================
     FONTS
     ========================= */

  --font-heading: "Plus Jakarta Sans", sans-serif;
  --font-body: "Inter", sans-serif;
}


/* =========================
   GLOBAL STYLES
   ========================= */

:root {
  --background: #ffffff;
  --foreground: #101828;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
} 